.container {
  width: 45px;
  height: 26px;
  border: 1.5px solid #3963bc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 10px;
  line-height: 10px;
}

.ball {
  width: 18px;
  height: 18px;
  background-color: #4881fb;
  border-radius: 50%;
  position: absolute;
}
